<!DOCTYPE html>
<html lang=en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <title>ACM Resume Book</title>
  </head>
  <body>
    <header>
      hey
    </header>
    <main>
      <h1>ACM</h1>
      <form method="post">
        <label for="f_name">
          First Name
          <input id="f_name" name="f_name" type="text" required>
        </label>

        <label for="l_name">
          Last Name
          <input id="l_name" name="l_name" type="text" required>
        </label>

          <label for="email">
            Primary Email Address
            <input id="email" name="email" type="email" required>
          </label>

        <label for="resume">
          Resume (PDF or Word Document)
          <input id="resume" name="resume" type="file" required>
        </label>

        <label for="full-time">
          Full-Time Position
          <input id="full-time" name="job" type="radio" required>
        </label>

        <label for="internship">
          Internship
          <input id="internship" name="job" type="radio" required>
        </label>

        <input type="Submit" value="Submit your resume!">
      </form>
    </main>
  </body>
</html>
